<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Login Page</title>
  </head>
  <body bgcolor="000000">
    <center>
      <h1 style="color:white;">Input Data Here</h1>
      <p></p>
	  <p style="color:white;">New Text</p>
      <input id="txt"/><br/>
      <p style="color:white;">Date</p>
	  <input id="dte" /><br/>
      <p></p>
	  <button id="insert" style="color:black;">Input</button>
      <p></p>
      <p style="color:white;">Result</p>
      <table id="link" style="color:white;"></table>
    </center>
    <script>
      $(document).ready(function(){
		$("#insert").click(function(){
          $( "#link" ).empty();
          var name = $("#txt").val();
		  var date = $("#dte").val();
          var saveData = $.ajax({
            type:"POST",
            url:"/inputbackend",
            data: '{"a":"'+name+' '+date+'"}',
            dataType: "json",
            contentType:"application/json",
		    error: function (xhr, ajaxOptions, thrownError) {
              alert(xhr.status);
              alert(thrownError);
            },
            success: function(resultData) {
              console.log(resultData);
		      $("<tr><td><p>"+resultData+"</p></td></tr>").appendTo("#link");
            }
          })
        });
      });
    </script>
  </body>
</html>